<article class="post-entry">
  <header class="entry-header"><h2>Video: My Entire Neovim + Tmux Workflow As A DevOps Engineer On MacOS</h2></header>
  <section class="entry-content"><p>I’ve just released a comprehensive video delving deep into my Neovim setup and command-line centric workflow. This video is a response to the curiosity of my YouTube subscribers. It’s an all-inclusive guide from A to Z, detailing the rationale behind my configuration choices. I’ve spent years perfecting my workflow and this video has been several months in the making, so I’m excited that I can finally share it with you....</p></section>
  <a class="entry-link" aria-label="post link to Video: My Entire Neovim + Tmux Workflow As A DevOps Engineer On MacOS" href="https://mischavandenburg.com/zet/video-tmux-neovim-macos-workflow/"></a>

  <footer class="entry-footer">
    <span class="meta-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" style="user-select:text"><rect x="3" y="4" width="18" height="18" rx="2" ry="2" style="user-select:text"></rect><line x1="16" y1="2" x2="16" y2="6" style="user-select:text"></line><line x1="8" y1="2" x2="8" y2="6" style="user-select:text"></line><line x1="3" y1="10" x2="21" y2="10" style="user-select:text"></line></svg>
      <span>January 21, 2024</span>
    </span>
    <span class="meta-item">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon" style="user-select:text"><path d="M20.59 13.41l-7.17 7.17a2 2 0 01-2.83.0L2 12V2h10l8.59 8.59a2 2 0 010 2.82z" style="user-select:text"></path><line x1="7" y1="7" x2="7" y2="7" style="user-select:text"></line></svg>
      <span class="post-tags"><a href="https://mischavandenburg.com/tags/video/">Video</a><a href="https://mischavandenburg.com/tags/neovim/">Neovim</a><a href="https://mischavandenburg.com/tags/coding/">Coding</a><a href="https://mischavandenburg.com/tags/macos/">MacOS</a><a href="https://mischavandenburg.com/tags/productivity/">Productivity</a></span>
    </span>
  </footer>
</article>
