
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blogs-primary: mat.define-palette(mat.$indigo-palette);
$blogs-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blogs-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blogs-theme: mat.define-light-theme((
  color: (
    primary: $blogs-primary,
    accent: $blogs-accent,
    warn: $blogs-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blogs-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 960px;
  --main-width: 720px;
  --post-width: 720px;
  --header-height: 60px;
  --footer-height: 80px;
  --radius: 8px;
  --theme: rgb(29, 30, 32);
  --entry: rgb(46, 46, 51);
  --primary: rgb(218, 218, 219);
  --primary-dim: rgb(186, 186, 186);
  --secondary: rgb(155, 156, 157);
  --tertiary: rgb(123, 124, 124);
  --tertiary-bg: rgb(65, 66, 68);
  --content: rgb(196, 196, 197);
  --code-bg: rgb(55, 56, 62);
  --border: rgb(51, 51, 51);
  --link-background-color: #5242746d;
  --link-color: var(--primary);
  --link-hover-color: #876fd6;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: var(--link-hover-color);
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, helvetica neue,
    segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, sans-serif;
  line-height: 1.6em;
  background-color: var(--theme);
  background-color: #050505;
  color: var(--content);
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

code {
  display: block;
  padding: 24px;
  width: fit-content;
  min-width: 100%;
  line-height: 1.7;
  transition: color 0.5s;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
